animation-shorthand(name, duration, timing, delay = 0, iteration = 1, fillMode = none, direction = normal)
  -webkit-animation name duration timing delay iteration fillMode direction
  -moz-animation name duration timing delay iteration fillMode direction
  animation name duration timing delay iteration fillMode direction

animation-delay(delay)
  -webkit-animation-delay unquote(delay)
  -moz-animation-delay unquote(delay)
  animation-delay unquote(delay)